version: 2.1

executors:
  py-executor:
    docker:
      - image: circleci/python:3.8.2-buster

    working_directory: ~/project
jobs:

  build:

    executor: py-executor

    steps:
      - checkout

      - restore_cache: # Find a cache corresponding to this specific requirements_dev.txt checksum. When this file has changed this lookup will fail which is good and intended
          key: deps9-{{ .Branch }}-{{ checksum "requirements_dev.txt" }}

      - run:
          name: Install dependencies
          command: |
            pip install -r requirements_dev.txt

      - save_cache: # cache Python dependencies using checksum of requirements_dev.txt as the cache-key
          key: deps9-{{ .Branch }}-{{ checksum "requirements_dev.txt" }}
          paths:
            - "venv"

  test:

    executor: py-executor

    steps:
      - restore_cache: # Find a cache corresponding to this specific requirements_dev.txt checksum. When this file has changed this lookup will fail which is good and intended
          key: deps9-{{ .Branch }}-{{ checksum "requirements_dev.txt" }}

      - run:
          name: Run tests and generate coverage
          command: |
            coverage run -m pytest && coverage report -m

      - run:
          name: Upload test coverage to Code Cov
          command : |
            make upload-coverage-to-codecov

workflows:
  version: 2

  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build
